<img class="beer-img" src="{{this.image_url}}" alt="beer">
<div class="beer-name">{{this.name}}</div>
<div class="beer-tagline">{{this.tagline}}</div>
<div class="beer-desc2">{{this.description}}</div>