<div class="index-container">

    <div class="index-container">
        <img src="/images/beer.png" alt="beer" class="img">
        <button onclick="location.href=`http://localhost:3000/beers`" class="btn">Check the Beers!</button>
        <button onclick="location.href=`http://localhost:3000/random-beers`" class="btn">Check a Random Beer!</button>
    </div>

</div>