<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IronBeer Lab</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <div class="page-container">
        <div id="content-wrap">

            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/beers">Beers</a>
                <a href="/random-beers">Random Beer</a>
            </div>

            {{{body}}}
        </div>
        <div>

            <footer class="footer">
                <h3>Develop by IronHack</h3>
            </footer>

</body>

</html>